<% if (page.total > 1){ %>
  <div class="pagination">
    <nav class="page-nav">
      <%- paginator({
        prev_text: '&lt;i class="icon-angle-left"&gt;&lt;/i&gt;',
        next_text: '&lt;i class="icon-angle-right"&gt;&lt;/i&gt;',
        mid_size: 1
      }) %>
    </nav>
  </div>

  <!-- JS 动态解析转义的 HTML -->
  <script>
    document.querySelectorAll('.page-nav a').forEach(a => {
      // 把文本内容作为 HTML 插入
      a.innerHTML = a.textContent;
    });
  </script>
<% } %>